 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am currently a UI Software Engineer at Simply Measured. Recently I have been heavily involved in the Ember.js community.</p>
                </div>
                <div class="col-lg-4">
                    <p>In my spare time, I like to sail, ride my bike, work out, and play with my dog.</p>
                </div>
            </div>
        </div>
    </section>
